.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-left: 25px;
    font-size: 20px;
}
.access-button{
    margin-top: 10px;
    color:white;
    background-color:#30B868;
    padding: 5px;
    border-radius: 4px;
    border-color: #30B868;
    font-size: 16px;
}
.access-button:hover{
    background-color:aquamarine;
}