.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header section */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-left: 25px;
    font-size: 20px;
}
.access-button{
    margin-top: 10px;
    color:white;
    background-color:#30B868;
    padding: 5px;
    border-radius: 4px;
    border-color: #30B868;
    font-size: 16px;
}
.access-button:hover{
    background-color:aquamarine;
}
/* banner section */
.banner-section{
    text-align: center;
    background-image: url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
}
.banner{
    margin: 20px;
}
.early-access{
    margin-top: 10px;
    color: #30B868;
    padding: 5px;
    border-radius: 15px;
}
.early-access:hover{
    color: white;
    background-color: #30B868;
}
.banner-title{
    font-style: Bold;
    font-size: 60px;
    font-weight: 700;
    color: white;
}
.another-title{
    color:#30B868;
}
.paragraph-title{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 350;
    line-height: 21px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 30px;
}
/* notes section */
.notes-section{
    background: #f2f4f5;
}
.notes-title{
    font-style: Bold;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
}
.notes{
    color: rgb(131, 129, 129);
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.notes-card{
    display: flex;
    gap: 18px;
    justify-content: center;
}
.scattered{
    /* border:  solid gray; */
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    width: 280px;
    height: 220px;
    background-color: white;
}
.notes-img{
    background-color: red;
    border-radius: 50%;
}
.scattered h3{
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
}
.scattered p{
    color: rgb(131, 129, 129);
    padding: 10px 20px 0px 20px;
    font-weight: 300;
    font-size: 15px;
}