.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header section */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-left: 25px;
    font-size: 20px;
}
.access-button{
    margin-top: 10px;
    color:white;
    background-color:#30B868;
    padding: 5px;
    border-radius: 4px;
    border-color: #30B868;
    font-size: 16px;
}
.access-button:hover{
    background-color:aquamarine;
}
/* banner section */
.banner-section{
    text-align: center;
    background-image: url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
}
.banner{
    margin: 20px;
}
.early-access{
    margin-top: 10px;
    color: #30B868;
    padding: 5px;
    border-radius: 15px;
}
.early-access:hover{
    color: white;
    background-color: #30B868;
}
.banner-title{
    font-style: Bold;
    font-size: 60px;
    font-weight: 700;
    color: white;
}
.another-title{
    color:#30B868;
}
.paragraph-title{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 350;
    line-height: 21px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 30px;
}
